@charset "utf-8";

html{
    scroll-behavior: smooth;
}

body {
    margin:0;
}


.header h1{
    margin:0;
    display:inline-block;
    position: relative;
    top:300px;
    left:50px;
    color:white;
    font-size:55px;
    clear:both;
}


.body {
    background-image:url(img/header.jpg);
    background-size:contain;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    margin-left:0;
    margin-right:0;
    margin-bottom:0;
}


header {
    width:100%;
    height:1000px;
}

.content{
    background-color:white;
    opacity:0.8;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    padding-left:100px;
    padding-right:50px;
    padding-bottom:100px;
    clear:both;
}

#navi{
    width:100%;
    background-color:rgba(255,255,255,0.2);
    position: fixed;
    z-index:999;
}

#navi li{
    background-color:rgba(29,65,122,0.0);
    color:white;
    display:block;
    font-size:20px;
}


#navi a{
    color:white;
    padding-top:25px;
    padding-bottom:25px;
    display:block;
}

#navi a:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
     background-color:rgba(29,65,122,0.9);
}

.content h1{
    margin-top:0;
    margin-bottom:5px;
    clear:both;
}

.content p{
    margin:0;
    font-size:30px;
}

.list{
    font-size:30px;
    padding-left:0px;
}

.list ul{
    padding-left:0px;
}

.list li{
    list-style:none;
}

.table{
    background-color:red;
    width:80%;
}

.footer{
    background-color:rgb(29,65,122);
    width:100%;
    margin-top:500px;
    margin-left:0;
    margin-right:0;
    margin-bottom:0;
    padding-bottom:100px;
    color:white;
}

.footer h1{
    padding-top:50px;
    padding-left:100px;
}

.footer p{
    padding-left:100px;
}

.footer form{
    padding-left:100px;
}

.footer textarea{
    width:600px;
    height:200px;
}



.sent input{
    display:inline-block;
    padding-top:15px;
    padding-right:30px;
    padding-bottom:15px;
    padding-left:30px;
    background-color:white;
    border:hidden;
    border-radius:30px;
    text-align:center;
    text-decoration:none;
    color: black;
}
